<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <div>
    <strong>Ingredients:</strong>
    <ul>
      <% recipe.ingredients.split(/\n/).each do |ingredient| %>
        <li><%= ingredient.chomp %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <strong>Preparation:</strong>
    <% recipe.preparation.split(/\n/).map(&:chomp).compact_blank.each do |step| %>
      <p><%= step %></p>
    <% end %>
  </div>

</div>
